/** @format */

.cards-container {
	display: flex;
	gap: 20px;
	.cards-info {
		flex: 2;
		color: black;
		height: 300px;
		h1 {
			color: black;
		}
		h3 {
			color: crimson;
			margin-top: -5 px;
		}
		button {
			background-color: #222;
			border-radius: 4px;
			border-style: none;
			box-sizing: border-box;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
			font-size: 14px;
			font-weight: 700;
			line-height: 1.5;
			margin: 0;
			max-width: none;
			min-height: 44px;
			min-width: 10px;
			outline: none;
			overflow: hidden;
			padding: 9px 20px 8px;
			position: relative;
			text-align: center;
			text-transform: none;
			user-select: none;
			-webkit-user-select: none;
			touch-action: manipulation;
			width: 60%;
			&:hover,
			&:focus {
				background-color: crimson;
			}
		}
	}
	.cards-list {
		display: flex;
		flex: 6;
	}
}
