/** @format */

.newItem {
	display: flex;
	flex-direction: column;
	align-items: center;

	.top {
		padding: 15px;
		.title {
			align-self: start;
			color: darkgrey;
			font-weight: bold;
			font-size: 20px;
		}
	}
	.bottom {
		display: flex;
		width: 100%;
		@media screen and (max-width: 768px) {
			flex-direction: column;
		}
		.left {
			flex: 1;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			.image {
				width: 100px;
				height: 100px;
				border-radius: 50%;
			}
		}
		.right {
			flex: 2;
			display: flex;
			flex-wrap: wrap;

			.form-input {
				padding: 15px;
				display: flex;
				gap: 15px;
				align-items: center;
				justify-content: space-between;
				.label {
					cursor: pointer;
				}
				.input {
					border: none;
					border-bottom: 1px solid #000;
				}
			}
			.submit {
				align-items: center;
				background-color: #ffffff;
				border: 1px solid rgba(0, 0, 0, 0.1);
				border-radius: 0.25rem;
				box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
				box-sizing: border-box;
				color: rgba(0, 0, 0, 0.85);
				cursor: pointer;
				display: inline-flex;
				font-family: system-ui, -apple-system, system-ui, "Helvetica Neue",
					Helvetica, Arial, sans-serif;
				font-size: 16px;
				font-weight: 600;
				justify-content: center;
				line-height: 1.25;
				margin: 0;
				min-height: 3rem;
				padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
				position: relative;
				text-decoration: none;
				transition: all 250ms;
				user-select: none;
				-webkit-user-select: none;
				touch-action: manipulation;
				vertical-align: baseline;
				width: auto;

				&:hover,
				.button-6:focus {
					border-color: rgba(0, 0, 0, 0.15);
					box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
					color: rgba(0, 0, 0, 0.65);
				}

				&:hover {
					transform: translateY(-1px);
				}

				&:active {
					background-color: #f0f0f1;
					border-color: rgba(0, 0, 0, 0.15);
					box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
					color: rgba(0, 0, 0, 0.65);
					transform: translateY(0);
				}
			}
		}
	}
}
