

.cart-nav{
    border: 2px salmon solid;
    
}

.cart-title{
    border: 2px rgb(42, 45, 196) solid;
}

.main-cart{
    border: 2px rgb(9, 197, 106) solid;
    img{
        height: 100px;
        width: 100px;
    }
}