.cart-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  background-image: radial-gradient(
    circle at center,
    rgb(248, 248, 248),
    rgb(236, 236, 236)
  );
  //   border: 2px salmon solid;
  a {
    color: #000;
    &:hover,
    &:focus {
      color: crimson;
    }
    padding: 5px;
    margin-bottom: 22px;
  }
  span {
    color: rgb(187, 190, 187);
  }
}

.cart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(41, 41, 43);
  color: cornsilk;
  margin-top: -13px;
  //   border: 2px rgb(42, 45, 196) solid;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  .main-cart {
    flex: 100px;
    margin-right: 15px;
    border: 2px rgb(9, 197, 106) solid;
    .table-head {
      background-color: rgb(238, 238, 238);
    }
    img {
      height: 100px;
      width: 100px;
    }
  }
  .to-do-next {
    margin: 10px;
    border: 3px rgb(197, 9, 134) solid;
  }
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  .quantity-buttons {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    .small-button {
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #222;
      border-style: none;
      color: #fff;
      font-size: 14px;
      font-weight: 900;
      outline: none;
      &:hover,
      &:focus {
        background-color: crimson;
      }
      height: 15px;
      width: 30px;
    }
  }
}

.table-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  .butt {
    background-color: #222;
    border-style: none;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    outline: none;
    text-align: center;
    &:hover,
    &:focus {
      background-color: crimson;
    }
    width: 30px;
    height: 30px;
  }
  p {
    margin-top: 16px;
    border: #000 solid 3px;
    width: 30px;
    height: 30px;
  }
}

.coupon {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  p {
    margin-right: 50px;
  }
  .arrow {
    margin-bottom: 22px;
  }
}
