/** @format */

.profile-card {
	background: #ffb300;
	width: 400px !important;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	overflow: hidden;
	opacity: 0;
	margin-top: 70px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16),
		0px 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
	-webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19)
			forwards,
		moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
		moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
		materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
	animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
		moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
		moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
		materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
	h1,
	h2 {
		font-weight: 500;
		margin: 0px 0px 5px 0px;
	}

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 16px;
	}

	p {
		margin: 0px;
	}
}

.profile-card header {
	width: 600px;
	height: 600px;
	padding: 40px 20px 30px 20px;
	display: inline-block;
	float: left;
	border-right: 2px dashed #eeeeee;
	background: #ffffff;
	color: #000000;
	margin-top: 50px;
	opacity: 0;
	text-align: center;
	-webkit-animation: moveIn 1s 3.1s ease forwards;
	animation: moveIn 1s 3.1s ease forwards;
}

.profile-card header h1 {
	color: #ff5722;
}

.profile-card header img {
	display: inline-block;
	text-align: center;
	position: relative;
	margin: 25px 30px;
}

.profile-card header img:after {
	position: absolute;
	content: "";
	bottom: 3px;
	right: 3px;
	width: 20px;
	height: 20px;
	border: 4px solid #ffffff;
	-webkit-transform: scale(0);
	transform: scale(0);
	background: -webkit-linear-gradient(
		top,
		#2196f3 0%,
		#2196f3 50%,
		#ffc107 50%,
		#ffc107 100%
	);
	background: linear-gradient(
		#2196f3 0%,
		#2196f3 50%,
		#ffc107 50%,
		#ffc107 100%
	);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-animation: scaleIn 0.3s 3.5s ease forwards;
	animation: scaleIn 0.3s 3.5s ease forwards;
}

.profile-card header img {
	width: 120px;
	max-width: 100%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: -webkit-box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
	-webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}

.profile-card header img:hover > {
	-webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.profile-card .profile-bio {
	width: 600px;
	height: 600px;
	display: inline-block;
	float: right;
	padding: 50px 20px 30px 20px;
	background: #ffffff;
	color: #333333;
	margin-top: 50px;
	text-align: center;
	opacity: 0;
	-webkit-animation: moveIn 1s 3.1s ease forwards;
	animation: moveIn 1s 3.1s ease forwards;
}

@keyframes init {
	0% {
		width: 0px;
		height: 0px;
	}
	100% {
		width: 56px;
		height: 56px;
		margin-top: 0px;
		opacity: 1;
	}
}

@keyframes puff {
	0% {
		top: 100%;
		height: 0px;
		padding: 0px;
	}
	100% {
		top: 50%;
		height: 100%;
		padding: 0px 100%;
	}
}

@keyframes borderRadius {
	0% {
		-webkit-border-radius: 50%;
	}
	100% {
		border-radius: 0px;
	}
}

@keyframes moveDown {
	0% {
		top: 50%;
	}
	50% {
		top: 40%;
	}
	100% {
		top: 100%;
	}
}

@keyframes moveUp {
	0% {
		background: #ffb300;
		top: 100%;
	}
	50% {
		top: 40%;
	}
	100% {
		top: 50%;
		background: #e0e0e0;
	}
}

@keyframes materia {
	0% {
		background: #e0e0e0;
	}
	50% {
		border-radius: 4px;
	}
	100% {
		width: 440px;
		height: 280px;
		background: #ffffff;
		border-radius: 4px;
	}
}

@keyframes moveIn {
	0% {
		margin-top: 50px;
		opacity: 0;
	}
	100% {
		opacity: 1;
		margin-top: -20px;
	}
}

@keyframes scaleIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes ripple {
	0% {
		transform: scale3d(0, 0, 0);
	}
	50%,
	100% {
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0;
	}
}

@media screen and (min-aspect-ratio: 4/3) {
	body {
		background-size: cover;
	}
	body:before {
		width: 0px;
	}

	@keyframes puff {
		0% {
			top: 100%;
			width: 0px;
			padding-bottom: 0px;
		}
		100% {
			top: 50%;
			width: 100%;
			padding-bottom: 100%;
		}
	}
}

@media screen and (min-height: 480px) {
	.profile-card header {
		width: auto;
		height: auto;
		padding: 30px 20px;
		display: block;
		float: none;
		border-right: none;
	}
	.profile-card .profile-bio {
		width: auto;
		height: auto;
		padding: 15px 20px 30px 20px;
		display: block;
		float: none;
	}
	.profile-social-links {
		width: 100%;
		display: block;
		float: none;
	}

	@keyframes materia {
		0% {
			background: #e0e0e0;
		}
		50% {
			border-radius: 4px;
		}
		100% {
			width: 280px;
			height: 440px;
			background: #ffffff;
			border-radius: 4px;
		}
	}
}

.button {
	align-self: center;
	background-color: #fff;
	background-image: none;
	background-position: 0 90%;
	background-repeat: repeat no-repeat;
	background-size: 4px 3px;
	border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
	border-style: solid;
	border-width: 2px;
	box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
	box-sizing: border-box;
	color: #41403e;
	cursor: pointer;
	display: inline-block;
	font-family: Neucha, sans-serif;
	font-size: 1rem;
	line-height: 23px;
	outline: none;
	padding: 0.75rem;
	text-decoration: none;
	transition: all 235ms ease-in-out;
	border-bottom-left-radius: 15px 255px;
	border-bottom-right-radius: 225px 15px;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button:hover {
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
	transform: translate3d(0, 2px, 0);
}

.button:focus {
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
